[submodule "firmware/3dparty/embedded-cmake-snippets"]
	path = firmware/3dparty/embedded-cmake-snippets
	url = https://github.com/SmallSharky/embedded-cmake-snippets.git
[submodule "firmware/3dparty/gecko_sdk"]
	path = firmware/3dparty/gecko_sdk
	url = https://github.com/SmallSharky/gecko_sdk.git